body{
    margin: 0;
    padding: 0;
    /* background-image: url(https://th.bing.com/th/id/R.003b502bee66620cd2efab1bdd84a277?rik=z6m4ZUyYYR2jUA&riu=http%3a%2f%2f4.bp.blogspot.com%2f-_g8Ft6nN9-U%2fVkT4P_Zzw7I%2fAAAAAAAACGc%2fWoqZQNK3_9k%2fs1600%2fIMG_1493.jpg&ehk=bQb1A21pepYvUHQxJvXMY51sqb8I7o0CZOAMBOMnANU%3d&risl=&pid=ImgRaw&r=0); */
}
body{
background-size: 100vw 100vh;
}

 image{
    width: 2px;
    height: 2px;
}
#main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
#main #input{
    background-color: white;
    height: 28em;
    width: 22em;
 border-radius: 1%;
 margin-left: 10%;

}
#main #input input.field {
    width: 73.5%;
    height: 7%;
    margin: 2% 6%;
border: 2px solid black;
box-shadow: 1px 02px black;
}
input[type=text]{ 
    background-image: url(./R.bae2d37c4317140a408aef6671346186);
    background-size: 8%;
    background-repeat: no-repeat;
    padding-left: 40px;
    background-position-x: 2%;
    background-position-y: 50%;

    }
    input[type=email]{ 
        background-image: url(./mail-envelope-icon-electronic-letter-260nw-1478253539.jpg);
        background-size: 10%;
        background-repeat: no-repeat;
        padding-left: 40px;
        background-position-y:40%;
    background-position-x: 2%;
            
        }
    
    input[type=password]{ 
        background-image: url(./OIP.cXbhulf-IHZXnryXSkBvJgHaHa);
        background-size: 8%;
        background-repeat: no-repeat;
        padding-left: 40px;
        background-position-x: 2%;
        background-position-y: 25%;
        }
#main #input input.radio{
 
  margin: 5px 0px 18px 30px;
   font-family: Arial, Helvetica, sans-serif;

}
#main #input h1{
    text-align: center;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#main #input select{
    width: 87%;
    height: 8%;
    margin: 0% 6%;
    border: 2px solid black;
box-shadow: 1px 02px black;
}
#signup{
    width: 88%;
    height: 8%;
    margin: 20px;
    background-color: rgb(54, 69, 105);
    color: #fff;
 
}
#signup:hover{
background-color: rgb(64, 36, 68);
color: rgb(255, 0, 0);
scale: 1.1;
border: 2px solid black;
box-shadow: 1px 02px black;
}